body,
html {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1200px;
    width: 2200px;
    background: #1e1e1e;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.ProfileCard {
    position: absolute;
    top: 298px;
    left: 725px;
    padding: 20px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.StoryCard {
    position: absolute;
    top: 200px;
    left: 120px;
    padding: 20px;
    border-radius: 5px;
    background-color: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.Story{
    font-size: large;
}

.SocialMediaCard{
    position: absolute;
    top: 600px;
    left: 150px;
    padding: 20px;
    border-radius: 5px;
    background-color: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.SocialMediaCard a{
    color:white;
}

.SocialMediaCard a:visited {
    color: white;
}

.SocialMediaCard .Twitter:hover{
    color:#1DA1F2;
}


.SocialMediaCard  .LinkedIn:hover{
    color:#0e76a8 ;
}


.ResumeCard {
    position: absolute;
    top: 700px;
    left: 600px;
    padding: 20px;
    border-radius: 5px;
    background-color: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.ResumeCard a:visited {
    color: white;
}