body,
html {
    margin: 0;
    padding: 0;
    user-select: none;
    padding: 30px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1900px;
    min-height: 1900px;
    width: 2500px;
    min-width: 2500px;
    margin: auto;
    display: inline-block;
    background: #1e1e1e;
    -ms-overflow-style: none;
    scrollbar-width: none;

    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 90%; /* Webkit browsers */
}

body::-webkit-scrollbar {
    display: none;
}

.ProfileCard {
    position: absolute;
    top: 300px;
    left: 770px;
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.StoryCard {
    position: absolute;
    top: 200px;
    max-width: 350px;
    min-width: 350px;
    left: 120px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.Story {
    font-size: large;
}

.SocialMediaCard {
    position: absolute;
    top: 600px;
    left: 150px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}

.SocialMediaCard a {
    color: white;
}
.SocialMediaCard a:visited {
    color: white;
}
.SocialMediaCard .Twitter:hover {
    color: #1DA1F2;
}
.SocialMediaCard .LinkedIn:hover {
    color: #0e76a8;
}
.SocialMediaCard .Email:hover {
    color: #83BD75;
}

.ResumeCard {
    position: absolute;
    top: 850px;
    left: 700px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}
.ResumeCard a:visited {
    color: white;
}
.ResumeCard a:hover {
    color: #83BD75;
}

.PGCard {
    position: absolute;
    top: 1050px;
    min-width: 320px;
    max-width: 320px;
    left: 1000px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.BachelorCard {
    position: absolute;
    top: 1100px;
    left: 1400px;
    padding: 20px;
    max-width: 320px;
    min-width: 320px;

    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.SkillCard {
    position: absolute;
    top: 1000px;
    left: 200px;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    font-family: 'Inconsolata', monospace;
}

.SkillDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SkillBtn{
    height: auto;
    width: auto;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}

.SkillCard button:hover {
    background: none;
}

.SkillImg{
    height: 80px;
    width: 80px;
}


.InterestCard {
    position: absolute;
    top: 100px;
    left: 1500px;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.InterestList {
    text-align: center;
}

.JpstarviewCard{ 
    position: absolute;
    top: 1500px;
    left: 1200px;
    padding: 20px;
    max-width: 320px;
    min-width: 320px;

    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;

}

.MotivationCard{
    position: absolute;
    max-width: 600px;
    top: 1700px;
    min-width: 600px;
    left: 120px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.TinderSaySoCard{
    position: absolute;
    top: 500px;
    left: 2000px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.GamesCard{
    position: absolute;
    top: 540px;
    left: 2400px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.SymotiCard{
    position: absolute;
    top: 200px;
    left: 2400px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}