body,
html {
    user-select: none;
    padding: 10px;
    cursor: move;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-height: 2200px;
    min-width: 3000px;
    margin: auto;
    display: inline-block;
    background: #1e1e1e;
    -ms-overflow-style: none;
    scrollbar-width: none;

    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 90%; /* Webkit browsers */
}

body::-webkit-scrollbar {
    display: none;
}

.BetaLabel{
    top: 800px;
    left: 800px;
    position: absolute;
    display: inline-block;
    display: flex;
    font-size: 40px;
    font-weight:bold;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.WatchCard{
    position: absolute;
    top: 100px;
    left: 180px;
    display: inline-block;
    border-radius: 100%;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.ProfileCard {
    position: absolute;
    top: 700px;
    left: 1300px;
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.StoryCard {
    position: absolute;
    top: 350px;
    left: 500px;
    max-width: 350px;
    min-width: 350px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.Story {
    font-size: large;
}

.SocialMediaCard {
    position: absolute;
    top: 850px;
    left: 300px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}

.SocialMediaCard a {
    color: white;
}
.SocialMediaCard a:visited {
    color: white;
}
.SocialMediaCard .Twitter:hover {
    color: #1DA1F2;
}
.SocialMediaCard .LinkedIn:hover {
    color: #0e76a8;
}
.SocialMediaCard .Email:hover {
    color: #83BD75;
}

.ResumeCard {
    position: absolute;
    top: 1000px;
    left: 2000px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}
.ResumeCard a:visited {
    color: white;
}
.ResumeCard a:hover {
    color: #83BD75;
}

.PGCard {
    position: absolute;
    top: 1350px;
    min-width: 320px;
    max-width: 320px;
    left: 1000px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.BachelorCard {
    position: absolute;
    top: 1300px;
    left: 1400px;
    padding: 20px;
    max-width: 320px;
    min-width: 320px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.SkillCard {
    position: absolute;
    top: 1200px;
    left: 2400px;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    font-family: 'Inconsolata', monospace;
}

.SkillDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SkillBtn{
    height: auto;
    width: auto;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
}

.SkillCard button:hover {
    background: none;
}

.SkillImg{
    height: 80px;
    width: 80px;
}


.InterestCard {
    position: absolute;
    top: 100px;
    left: 1600px;
    padding: 20px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.InterestList {
    text-align: center;
}

.JpstarviewCard{ 
    position: absolute;
    top: 1600px;
    left: 220px;
    padding: 20px;
    max-width: 320px;
    min-width: 400px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;

}

.ZorensCard{ 
    position: absolute;
    top: 1900px;
    left: 300px;
    padding: 20px;
    max-width: 320px;
    min-width: 400px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 20px 20px 40px #181818, -20px -20px 40px #242424;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;

}


.MotivationCard{
    position: absolute;
    top: 1200px;
    left: 60px;
    min-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.TinderSaySoCard{
    position: absolute;
    top: 580px;
    left: 2400px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.GamesCard{
    position: absolute;
    top: 540px;
    left: 2800px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.SymotiCard{
    position: absolute;
    top: 220px;
    left: 2500px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.SSOCard{
    position: absolute;
    top: 200px;
    left: 2900px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #181818, -10px -10px 20px #242424;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.GreenDot{
    font-size: 15px;
    animation: blinker 1s linear infinite;
    padding: 0px;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* Hover Effect on without Heading cards */
.tooltip {
    position: absolute;
}

.tooltip .tooltip_text {
    visibility: hidden;
    font-size: 18px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    right: 50%;
    margin-right: -40px; 
    top: 110%;
    opacity: 0;
    transition: opacity 2s;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 0.5;
}